<h1><%= @pet.name %></h1>

<h2><%= @pet.name %> is <%= @pet.emotion %></h2>

<ul>
  <li>Hungry level: <%=@pet.food_level %></li>
  <li>Energy level: <%=@pet.sleep_level %></li>
  <li>Play level: <%=@pet.play_level %></li>

</ul>
<a href="/feed">
  <button type=''>Feed</button>

</a>

<a href="/play">
  <button type=''>Play</button>

</a>
<a href="/sleep">
  <button type=''>Sleep</button>

</a>
